@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.form-control-lg{
    font-size: 15px !important;
    padding: 15px 20px !important;
}
.menu{
    width: 300px;
    margin-top: 5%;
}
.menu-2{
    width: 700px;
    margin-top: 20px;
}
.menu-2 img{
    max-width: 100px;
}
.btn-primario{
    background: #157347;
    color: #fff;
    border: none;
}
.btn-primario:hover{
    background: #1b995e;
    color: #fff;
}
.btn-secundario{
    background: #0b5ed7;
    color: #fff;
    border: none;
}
.btn-secundario:hover{
    background: #0c6efd;
    color: #fff;
}
.btn-cad{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    margin-top: 15px;
}
.btns-g{
    font-size: 20px;
    font-weight: bold;
    padding: 18px 20px;
}
.menu a{
    width: 100%;
    border-radius: 3px;
}
.menu-2 form{
    width: 100%;
}
.row-input{
    margin-top: 15px;
}
.btn-voltar{
    color: #fff;
    font-size: 16px;
    padding: 0 0 10px 10px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    margin-top: -40px;
}
@media (max-width: 1220px){
    .menu{
        width: 100%;
        padding: 50% 15px;
    }
    .menu-2{
        width: 100%;
        padding: 0 15px;
    }
    .menu-2 img{
        margin-top: 20px;
    }
    .menu-2 form{
        margin-top: -30px;
        padding-bottom: 50px;
    }
    .row-input2{
        margin-top: 15px;
    }
}